#geressutilisateur{
    display: flex;
}

.modification{
    width: 60%;
    height: 96%;
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 1% 1% 0 1%;
    margin-left: 2%;
}

h4{
    text-align:center;
    width: 96%;
    border-radius: 8px;
    padding: 5px;
    background-color: #00A4E1;
    color : white;
}

h5{
    text-align:center;
    color : #00A4E1;
}

.ajout{
    width: 50%;
    height: 96%;
    border: 1px solid #00A4E1;
    border-radius: 25px;
    margin-left: 1%;
    padding: 1%;
}

#autorisation{
    width: 50%;
    height: 96%;
    border: 1px solid #00A4E1;
    border-radius:25px;
    margin-left: 2%;
    padding: 1%;
	overflow:auto;
}

.resume{
    width: 30%;
    height: 94%;
	background-color: white;
    border-radius: 25px;
    padding: 1%;
    margin-left: 2%;
}

.autorisationBlock{
	width:91%;
	padding:4%;
	height:5%;
	background-color: white;
}

.delete{
	width:15px;
	height:15px;
	position:relative;
	float:right;
}

.userBlock{
	width: 96%;
	height:10%;
	border: 2px solid #00A4E1;
    padding: 1%;
	position:relative;
}

#sender{
    margin-left: 40%;
}


