#catalogue{
    width: 30%;
    display: block;
}

h5{
    text-align: center;
}

.catal{
    border: 1px dotted #00A4E1;
    text-align: left;
}
ul{
    list-style: none;
}

li{
    text-align: center;
}

img{
    width: 8%;
}


