#catalogue{
    width: 90%;
    padding: 2%;
    background-color: white;
    margin-left: 2%;
    margin-top: 4%;
    display: block;
    border-radius: 25px;
}

h4{
    margin-top: 0;
    text-align:center;
    width: 98%;
    border-radius: 8px;
    padding: 5px;
    background-color: #00A4E1;
    color : white;
}

table{
    margin-left: 23%;
}

td, th{
    width: 18%;
    text-align: center;
}
img{
    width: 35%;
}


