h2{
    text-align: center;
}

label{
    width: 250px;
    float: left;
    text-align: center;
    margin: auto;
}

button, input[type='submit']{
    margin: 2% 5% 5% 25%;
}
input[type="text"], input[type="password"], input[type="phone"] {
    width: 200px;
    margin-bottom: 2%;
}

.first{
    margin: 0 auto;
}

#debut{
    padding-top: 5%;
    padding-left: 30%;
    justify-content: center;
    justify-items: center;
}

#fin{
    padding-left: 30%;
    justify-content: center;
    justify-items: center;
}

