div.Captor {
	position:relative;
	z-index:20;
	Width:20px;
	Height:20px;
	background-color:red;
	margin:5px;
	float:left;
}

.Room{
	font-size: small;
	text-align: center;
	border: solid;
	border-color:black;
	border-width:10px;
	z-index:10;
	background-color:lightgrey;
	margin:0px;
	border:0px;
	-webkit-box-shadow:inset 0px 0px 0px 2px #000000;
	-moz-box-shadow:inset 0px 0px 0px 2px #000000;
	box-shadow:inset 0px 0px 0px 2px #000000;
}

.RoomModif{
	background-color:Black;
	text-align:center;
}

.RoomBody{
	position:absolute;
	height:98%;
	width:98%;
	top:1%;
	left:1%;
	background-color:lightgrey;
	z-index: 11;
}
.RoomName{
	position:relative;
	width:98%;
	height:10%;
	margin:1%;
	background-color:darkgrey;
	
}
.captorContainer{
	margin:1%;
	position:relative;
	background-color:#6699CC;
	text-align:center;
	float:right;
	clear:right;
	
}

.luminosityCaptor{
	width:100%;
	height:100%;
	background-color:green;
	
}

.luminosityActuator{
	
	
}

.temperatureCaptor{
	
}

.HumidityCaptor{
	
	
}

.ShutterActuator{
	display:flex;
	
}

.shutterBlock{
	height:100%;
	width:28%;
	float:left;
	position:relative;
	margin-left:1%;
	text-align:center;
}

#drawingedition{
	width:80%;
	height:90%;
	position:relative;
	-webkit-box-shadow:inset 0px 0px 0px 2px #000000;
	-moz-box-shadow:inset 0px 0px 0px 2px #000000;
	box-shadow:inset 0px 0px 0px 2px #000000;
	float:left;
}

#drawing{
	width:100%;
	height:90%;
	position:relative;
	-webkit-box-shadow:inset 0px 0px 0px 2px #000000;
	-moz-box-shadow:inset 0px 0px 0px 2px #000000;
	box-shadow:inset 0px 0px 0px 2px #000000;
	float:left;
	overflow:auto;
}
#drawingctrl{
	width:100%;
	height:10%;
	position:relative;
	background-color:grey;
	display:flex;
	-webkit-box-shadow:inset 0px 0px 0px 2px #000000;
	-moz-box-shadow:inset 0px 0px 0px 2px #000000;
	box-shadow:inset 0px 0px 0px 2px #000000;
	justify-content:flex-start;
}

#drawingctrl > div{
	width:10%;
	height:100%;
	background-color:red;
	margin-right:1%;
	margin-left:1%;
	
	
}
form{
	margin: 0 auto;
	
}

#drawingHolder{
	width:20%;
	height:90%;
	position:relative;
	-webkit-box-shadow:inset 0px 0px 0px 2px #000000;
	-moz-box-shadow:inset 0px 0px 0px 2px #000000;
	box-shadow:inset 0px 0px 0px 2px #000000;
	float:right;
	overflow:auto;
	
}

#vueEnsemble{
	width:100%;
	height:100%;
	position:relative;
	
	
}
