#selection{
    height: 5%;
    border-bottom: 2px solid gray;
    padding: 0;
}

.actionneurM{
    font-size: medium;
    border: 1px solid #00A4E1;
    padding: 1%;
    margin:1%;
    width: 8%;
    text-align: center;
    border-radius: 25px;
}

h4{
    text-align: center;
    margin-bottom: 0;
}

.pieceP, .actionneurP {
    width: 98%;
    display: flex;
    border: 2px solid #DDDDDD;
    border-radius: 25px;
}

img{
    width: 25%;
}