*{
    font-family: "Raleway";
}

@font-face{
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf');
}

body{
    margin: 0;
}

#full{
    display: flex;
    flex-wrap: wrap;
}

.demi{
    width: 47%;
    max-height: 80%;
    border: 2px dotted #00A4E1;
    margin-left: 2%;
    margin-bottom: 1%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-container{
    width: 70%;
    justify-items: center;
}

h3{
    width: 100%;
}