* {
    font-family: "Arial";
}

h1{
    margin-left: 25%;
    width: 50%;
    color: #00A4E1;
    text-align: center;
    border-bottom: 2px solid #00A4E1;
}

#contain{
    display: flex;
    padding-top: 6%;
}

#connexion{
    border-right: 2px solid #00A4E1;
    justify-content: center;
    text-align: center;
    width: 50%;
}

#inscription{
    justify-content: center;
    text-align: center;
    width: 50%;
}

label{
    margin-left: 5%;
    width: 250px;
    float: left;
    text-align: right;
}

input[type="text"]{
    width: 200px;
    margin-left: -100px;
}

input[type="password"]{
    width: 200px;
    margin-left: -100px;
}

h3{
    text-align: center;
    color: #00A4E1;
}
