* {
    font-family: "Arial";
}

h1{
    margin-left: 25%;
    width: 50%;
    color: #00A4E1;
    text-align: center;
    border-bottom: 2px solid #00A4E1;
}

p{
    text-align: center;
}

#contain{
    display: flex;
    padding-top: 6%;
    flex-wrap: wrap;
}

#connexion{
    margin-right : 7%;
    margin-left : 5%;
    background-color: #F7F7F7;
    border: 1px solid white;
    justify-content: center;
    text-align: center;
    width: 38%;
}

#connexion:hover {
    border: 1px solid #00A4E1;
}

#inscription{
    margin-left : 6.5%;
    background-color: #F7F7F7;
    border: 1px solid white;
    justify-content: center;
    text-align: center;
    width: 40%;
}

#inscription:hover {
    border: 1px solid #00A4E1;
}

label{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    float: left;
    text-align: right;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 200px;
    margin-left: -100px;
}

h2{
    text-align: center;
    color: #00A4E1;
    border-bottom: 2px solid #00A4E1;
    width: 50%;
    margin-left: 25%;
}

input[type="submit"] {
    margin-bottom: 5%;
}

input[type="submit"]:hover {
    box-shadow: 1px 1px 2px #838383;
    border: 1px solid #E3E3E3;
}

#notreconcept{
    display:grid;
    grid-template-columns: 100%;
    margin-top: 10px;
    width : 100%;
    grid-template-rows: auto auto;
    text-align: center;
    margin-left : auto;
    margin-right : auto;
}

#fleche {
    width: 5%;
}

.concept {
    display : block ;
    margin-top : 5% ;
}

#icone{
    display: block;
    width: 35%;
    margin-right: auto;
    margin-left: auto;
}

h3{
    text-align: center;
    color: #00A4E1;
    border-bottom: 2px solid #00A4E1;
    width: 50%;
    margin-left: 25%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-row: auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: justify;
    grid-column-gap: 50px;
    margin: 50px 50px 90px 50px;
    border-bottom: 2px solid #00A4E1;
    width: 50%;
    margin-left: 25%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-row : auto;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: justify;
  grid-column-gap : 50px;
  margin: 50px 50px 90px 50px;
}