#mailC{
    margin-top: 2%;
    margin-left: 30%;
}

.demande{
    margin-left: 30%;
}

textarea{
    margin-left: 15%;
    border: 2px solid #00A4E1;
}

input[type="submit"]{
    margin-top: 2%;
    margin-left: 45%;
    text-align: center;
}