nav {
    width: 100%;
    height: 87vh;
    border-right: 2px gray solid;
}

.conteneur{
    margin: 0;
    padding: 0;
    list-style: none;
}

.onglet{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px gray solid;
}

.onglet:hover{
    background-color: #DDDDDD;
    cursor: pointer;
    font-style: italic;
}

.small:hover{
    background-color: #DDDDDD;
    cursor: pointer;
    font-style: italic;
}

.small{
    text-align: center;
    font-size: small;
    margin-bottom: 3%;
    padding: 0;
    border: none;
}

a{
    color: black;
    text-decoration: none;
}