#notifications{
    display: flex;
}

.ajout{
    width: 35%;
    height: 96%;
    border: 1px solid #5e5e5e;
    text-align: center;
    margin-right: 5%;
    margin-left: 2%;
}

.recap{
    width: 55%;
    height: 96%;
    border: 1px solid #5e5e5e;
    text-align: center;
}