form{
    justify-content: center;
    text-align: center;
}

label{
    width: 250px;
    float: left;
    text-align: right;
    margin: 20px 0 20px 10%;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 200px;
    margin: 20px 0 20px -350px;
}

